#backtop.light {
    bottom: 30px;
    left: 30px
}

#backtop.light.full-width {
    background: white;
    bottom: 0;
    left: 0;
    width: 100%
}

#backtop.light.full-width button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    border-radius: 0;
    border-left: none;
    border-right: none
}

#backtop.light button {
    color: black;
    background: white;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #9f9f9f
}

#backtop.light button:hover,
#backtop.light button:focus {
    background: #f1f1f1
}

#backtop.light button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #fafafa
}

#backtop.dark {
    bottom: 30px;
    right: 30px
}

#backtop.dark.full-width {
    background: black;
    bottom: 0;
    left: 0;
    width: 100%
}

#backtop.dark.full-width button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    border-radius: 0;
    border-left: none;
    border-right: none
}

#backtop.dark button {
    color: white;
    background: black;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

#backtop.dark button:hover,
#backtop.dark button:focus {
    background: #444
}

#backtop.dark button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #666
}

#backtop.bootstrap button {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   /*  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2) */
}

#backtop.bootstrap button:hover,
#backtop.bootstrap button:focus {
    background: #356094
}

#backtop.bootstrap button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481
}

#backtop {
    opacity: 0;
    transition: all .3s ease-out;
    position: fixed
}

#backtop button {
    outline: none;
    border: 0
}

#backtop button:hover {
    cursor: pointer
}

.show {
    opacity: 1 !important
}